@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--dark_blue_text: #193764;
	--dark_gray_text: #787878;
	--blue_bg: #375589;
	--light_gray_bg: #F8F8F8;
	--dark_bg: #2c2c2c;
	--font: 'hanimation';
	--title_font: 'sky-bold';
	--numeric_font: 'bein';
}

#root {
	font-family: var(--font);
}

h1 {
    font-family: var(--title_font);
    font-size: 2.5rem;
    /* color: var(--dark_blue_text); */
}

.header-ul > li {
	color: var(--dark_bg);
}

.header-ul > li:hover {
	text-decoration: underline;
}

.landing-main {
	background-image: url(assets/overlay2.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.glass {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	width: fit-content;
}