@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--dark_blue_text: #193764;
	--dark_gray_text: #787878;
	--blue_bg: #375589;
	--light_gray_bg: #F8F8F8;
	--dark_bg: #2c2c2c;
	--font: 'hanimation';
	--title_font: 'sky-bold';
	--numeric_font: 'bein';
}

h1 {
    font-family: var(--title_font);
    font-size: 2.5rem;
    color: var(--dark_blue_text);
}